.container-new-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-new-contact__form {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
